body {
    text-align: center;
    background-image: url("../img/criptografia-background.jpg");
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form section {
    margin: 5px 1px;
    padding: 3px;
}

.centralizar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 15px;
    height: 80vh;
    width: 25vw;
    background-color: #D5C7BF;
    border: solid 7px #2C251E;
    color: #0D0502;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}